<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <section>
            <h2>{{ restaurant.get('name') }}</h2> 
            <img src={{image_url}} alt="Karakul Lake" width="298" height="200"/>
            <p>{{address}}</p>
            <p class="b"><span class="a">Price:</span>{{price}}</p>
            <p class="b"><span class="a">Rating:</span>{{rating}}</p>
            <p class="b"><span class="a">Reviews:</span>{{reviews}}</p> 
        </section>
    </main>
</body>
</html>

